<h1>New Task</h1>

<!-- <form action="/posts" method="post"> -->
<%= form_tag tasks_path, :method => "post" do %>
  <input type="text" name="task[description]" placeholder="description">

  <input type="submit">
<% end %>